@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: headline;
  src: url(../fonts/TiemposHeadlineWeb-Medium.ttf);
}

@font-face {
  font-family: light;
  src: url(../fonts/Balto-Book.ttf);
}

@font-face {
  font-family: medium;
  src: url(../fonts/Balto-Medium.ttf);
}

.links {
  position: relative;
}

.links::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.5s ease, left 0.5s ease;
}

.links:hover::after {
  width: 100%;
  left: 0;
}

.sublinks {
  position: relative;
}

.sublinks::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.5s ease, left 0.5s ease;
}

.sublinks:hover::after {
  width: 22%;
  left: 0;
}

.hover-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
}

.hover-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.button {
  position: relative;
  display: inline-block;
  background-color: #FCF7E6;
  color: #000;
  transition: color 0.5s ease;
  z-index: 1;
}

.button-bg {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: top 0.5s ease;
  z-index: -1;
  border-radius: 50px;
}

.button:hover .button-bg {
  top: 0;
}

.button:hover {
  color: #FCF7E6;
}

.movingAnimation {
  animation: moveLeft 30s linear infinite; /* Adjust the speed (20s) as needed */
  flex-shrink: 0; /* Prevents the animation from shrinking the container */
}

@keyframes moveLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@media (max-width: 640px) {
  .movingAnimation {
    animation: moveLeftMobile 30s linear infinite; /* Adjust speed for mobile */
  }

  @keyframes moveLeftMobile {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-400%); /* Move based on the content width */
    }
  }
}
